:root { 
    --primary-soft-blue: hsl(215, 51%, 70%);
    --primary-cyan: hsl(178, 100%, 50%);
    --neutral-main-dark-blue:hsl(217, 54%, 11%);
    --neutral-card-dark-blue:hsl(216, 50%, 16%);
    --neutral-line-dark-blue:hsl(215, 32%, 27%); 
    --neutral-white:hsl(0, 0%, 100%);
}

* { 
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-main-dark-blue);
}

.primary-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    text-align: left;
  }
 h3 {
    font-weight: 300;
 } 
 h4{
    font-weight: 500;
 }

.card {
    background-color: var(--neutral-card-dark-blue);
    color: var(--primary-soft-blue);
    width: 300px;
    height: 550px;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2%;
    box-shadow: 0px 20px 5px 20px rgba(0, 0, 0, 0.1), 0px 20px 25px 40px rgba(0, 0, 0, 0.1);  
}

.card-img {
    height: 270px;
    width: 270px;
    margin: auto;
    border-radius: 10px;
    background: url(./images/image-equilibrium.jpg);
    background-size: contain;
}

.card-body{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

#avatar-image {
    width: 30px;
    margin-right: 10px;
    border: 0.05rem solid hsl(0, 0%, 100%);
    border-radius: 50%;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: var(--neutral-white);
}

a:hover {
    color: var(--primary-cyan);
  }

a.img-link:hover {
    color: var(--primary-cyan);
}

hr {
    border: 0;
    height: 0.5px;
    background: var(--neutral-line-dark-blue);
    display: block;
    margin: 0;
    overflow: hidden;
}
.margin-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.d-block{
    display: block;
} 

.justify-content-center {
    justify-content: center;
}

.align-items-center  {
    align-items: center;
}
.align-text-center{
    text-align: center;
}

#top-margin{
    margin-top: 25px;
    margin-bottom: 0px;
}

.text-white {
    color: var(--neutral-white); 
}

.text-primary-cyan {
    color: var(--primary-cyan);
}

.text-primary-soft-blue {
    color: var(--primary-soft-blue);
}


.attribution {
    font-size: 12px; 
    text-align: center; 
    margin: 10px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
.attribution a { color: hsl(228, 45%, 44%); }